/* reset css */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Nunito Sans', sans-serif; */
/* font-family: 'NanumSquare', sans-serif; */

/* page css */
.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0px 100px;
}
.logo {
  margin-top: 38px;
}
.gnb {
  margin-top: 45px;
}
.gnb-list {
  display: flex;
}
.gnb-list-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin-left: 30px;
}
.gnb-list-link {
  color: #191919;
  text-decoration: none;
}
.gnb-list-link:hover {
  color: #10c9c3;
}
.hamburger-menu {
  width: 30px;
  height: 30px;
  /* transparent: 배경을 투명색으로 설정 */
  background-color: transparent;
  border: none;
  display: none;
}
.hamburger-menu > img {
  width: 30px;
  height: 30px;
}
.section01 {
  height: 315px;
  background-color: #f6f6f6;
  padding-top: 100px;
  box-sizing: border-box;
  text-align: center;
}
.section-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 38px;
  color: #191919;
  margin-bottom: 35px;
}
.paragraph {
  font-family: "NanumSquare", sans-serif;
  font-size: 16px;
  color: #191919;
  line-height: 1.6;
  font-style: italic;
}
.more-link {
  display: inline-block;
  width: 100px;
  height: 40px;
  border: 1px solid red;
  line-height: 40px;
  text-decoration: none;
  color: #191919;
  margin-top: 20px;
}

.more-link:hover {
  background: red;
  color: #fff;
}
.tab {
  display: none;
}
.group {
  display: flex;
  justify-content: center;
}
.figure {
  width: 340px;
  height: 300px;
  overflow: hidden;
}
.figure-image {
  height: 300px;
}
.figure-video {
  height: 300px;
}
.footer {
  height: 280px;
  background-color: #141414;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 100px 100px 0px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 15px;
  box-sizing: border-box;
}
.copyright-company {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 27px;
}
.sitemap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 108px;
  width: 230px;
}
.sitemap-item {
  margin-bottom: 12px;
  width: 60px;
  margin-left: 55px;
}

@media screen and (max-width: 900px) {
  .header {
    height: 50px;
    /* flex-direction: column; 기존 메뉴 대신 버튼을 넣기 위해 기존 메뉴 주석 처리*/
    /* 좌우 20px, 밑 10px */
    padding: 0 20px 10px;
    /* position을 abosolute로 하면 scrolling하면 같이 움직임. 메뉴 상단 고정을 위해서는 fixed */
    position: fixed;
    top: 0;
    left: 0;
    /* position을 absolute or fixed로 설정 시 width는 child element에 의해서 결정 */
    /* 그래서 다시 가로 길이를 100%로 맞추기 위해 width를 다시 100%로 설정해줌 */
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
  }
  .logo {
    margin-top: 10px;
    /* 인라인 요소에 text-align 적용 가능  */
    text-align: center;
  }
  .gnb {
    margin-top: 0;
    position: absolute;
    top: 50px;
    right: -200px;
    background-color: #ffffff;
    width: 200px;
    padding: 50px 30px 100px;
    box-sizing: border-box;
    /* display: none; */
    transition: right 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
  }
  .gnb.active {
    /* display: block; */
    opacity: 1;
    right: 0;
  }
  .gnb-list {
    justify-content: center;
    flex-direction: column;
  }
  .hamburger-menu {
    display: block;
    margin-top: 6px;
  }
  .gnb-list-item {
    margin-left: 0;
    margin-bottom: 70px;
  }
  .section-heading {
    font-size: 24px;
  }
  .paragraph {
    padding: 0 25px;
  }
  .paragraph br {
    display: none;
  }
  .tab {
    display: flex;
    width: 340px;
    margin: 30px auto;
  }
  .tab-item {
    width: 33.3333%;
    background-color: #eeeeee;
    text-align: center;
    padding: 10px 0;
  }
  .tab-item.active {
    background-color: #17b7d4;
    color: #ffffff;
  }
  .group {
    flex-direction: column;
    display: none;
  }
  .group.active {
    display: flex;
  }
  .figure {
    margin: 0 auto;
  }
}
